/*@font-face {
	font-family: 'stfont';
	src: url('./fonts/Context_Ultra_Condensed.ttf');
}*/

body {
  margin: 0;
  font-family: 'Big Shoulders Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  color: fuchsia;
}

.lcars-header {
	width: 100%;
	height: 180px;
	margin-bottom: 5px;
}

.lcars-header-background {
	height: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 150px 150px auto 30px 150px auto;
	grid-template-rows: auto 74px 16px;
}

.elbow-left-bottom {
	position: absolute;
	width: 300px;
	height: 90px;
}

.lcars-header-body {
	z-index: 2;
	position: relative;
	right: -20%;
	bottom: 100%;
	width: 80%;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	/*border: 1px solid green;*/
}

.lcars-content-body {
	z-index: 2;
	/*border: 1px solid red;*/
	position: absolute;
	right: 0;
	top: 0;
	bottom: 100%;
	width: 80%;
	height: 620px;
	margin-top: 21px;
	/*overflow: auto;*/
}

.lcars-header-body-title-text {
	font-weight: 900;
	font-size: 40px;
}

.lcars-header-body-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	/*border: 1px solid blue;*/
	width: 320px;
}

.lcars-content {
	position: relative;
	/*border: 1px solid green;*/
}

.elbow-left-top {
	position: absolute;
	width: 300px;
	height: 90px;
}

.elbow-left-top-skinny {
	position: absolute;
	width: 300px;
	height: 26px;
}

.lcars-content-background {
	height: 100%;
	position: relative;
	display: grid;
	overflow: auto;
	grid-template-columns: 150px 150px auto 30px 150px auto;
	grid-template-rows: 16px 74px auto 50px auto;
	/*border: 1px solid blue;*/
}

.lcars-content-nav {
	display: flex;
	flex-direction: column;
	grid-column: 1;
	grid-row: 3;
}


.lcars-block {
	position: relative;
}

.lcars-block-text {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
	font-weight: 700;
	font-size: 14px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.lcars-block-text-top {
	top: 0;
	padding-top: 5px;
}

.lcars-navblock {
	position: relative;
	margin-top: 5px;
	height: 70px;
	cursor: pointer;
	user-select: none;
}

.lcars-navblock-text {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
	font-size: 20px;
	font-weight: 900;
	padding-bottom: 5px;
	padding-right: 10px;
	user-select: none;
}

.lcars-pill-button {
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	height: 40px;
	width: 150px;
	position: relative;
	margin: 3px;
	cursor: pointer;
}

.lcars-pill-button-text {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
	font-size: 20px;
	font-weight: 900;
	padding-bottom: 5px;
	padding-right: 15px;
	user-select: none;
}

.character-page {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.character-page-header {
	display: grid;
	grid-auto-columns: min-content;
	grid-template-columns: 300px auto;
	grid-template-rows: 12px 24px;
}

.character-page-footer {
	margin-top: 10px;
	display: grid;
	grid-auto-columns: min-content;
	grid-template-rows: 19px 14px 12px;
	grid-template-columns: 155px 145px auto 200px;
}

.character-page-header-text {
	text-align: right;
	font-size: 28px;
	font-weight: 900;
	color: #FFCC99;
	width: 100%;
	grid-column: 3/4;
}

.character-page-scrollview {
	height: 100%;
	width: 100%;
	/*border: 1px solid white;*/
	overflow: auto;
}

.character-summary {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
}

.character-summary-image {
	min-width: 150px;
	min-height: 200px;
	width: 150px;
	height: 200px;
	object-fit: cover;
	margin-right: 5px;
	background-color: #111111;
}

.character-summary-details-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.character-summary-details-header {
	width: 100%;
	/*background-color: #9999FF;*/
	text-align: right;
	padding-top: 5px;
}

.character-summary-details-header-text {
	font-size: 20px;
	color: black;
	margin-bottom: 5px;
	margin-right: 10px;
}

.character-summary-details-body {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.character-summary-details-body-prefix {
	color: #d6c71c;
	font-size: 16px;
	margin-right: 10px;
}

.character-summary-details-body-text {
	color: #fae607;
	font-size: 20px;
}

.character-detail {
	display: flex;
	flex-direction: column;
}

.character-detail-body {
	display: grid;
	grid-template-columns: 150px 10px 350px auto 200px;
	grid-template-rows: 200px 130px 40px auto;
}

.character-detail-body-image {
	grid-column: 1/2;
	grid-row: 1/2;
	min-width: 150px;
	min-height: 200px;
	width: 150px;
	height: 200px;
	object-fit: cover;
	margin-right: 5px;
	background-color: #111111;
}

.character-detail-body-stats {
	grid-column: 3/4;
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
}

.character-detail-body-stats-name {
	/*color: #fae607;*/
	font-size: 40px;
}

.character-detail-body-stats-row {
	display: grid;
	grid-template-rows: 36px;
	grid-template-columns: 130px 220px;
	align-items: flex-end;
}

.character-detail-body-stats-row-prefix {
	grid-column: 1/2;
	grid-row: 1;
	/*color: #d6c71c;*/
	font-size: 18px;
}

.text-input {
	grid-column: 2/3;
	grid-row: 1;
	color: #F8FBDB;
	font-size: 24px;
	-webkit-appearance: none; 
  	appearance: none;
  	background: #101010;
  	border: 0;
  	font-family: 'Big Shoulders Text', sans-serif;
  	margin: 0;
  	padding: 0;
}

.text-input-big {
	font-size: 40px;
}

.text-input-url {
	color: #F8FBDB;
	font-size: 14px;
	overflow: hidden;
	height: 100%;
	-webkit-appearance: none; 
  	appearance: none;
  	background: #101010;
  	border: 0;
  	font-family: 'Big Shoulders Text', sans-serif;
  	margin: 0;
  	padding: 0;
  	margin-top: 7px;
  	resize: none;
}

.character-detail-body-stats-row-text {
	grid-column: 2/3;
	grid-row: 1;
	/*color: #fae607;*/
	font-size: 24px;
}

.gross-url {
	color: #fae607;
	font-size: 14px;
	overflow: hidden;
	height: 100%;
	margin-top: 7px;
}

.character-detail-body-buttons {
	grid-column: 5/6;
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
	width: 120px;
	height: 100%;
	width: 100%;
}

.block-button {
	width: 100%;
	display: grid;
	grid-template-columns: 20px 60px auto;
	height: 45px;
	padding-bottom: 5px;
	position: relative;
}

.block-button-tab {
	grid-column: 1/2;
}

.block-button-numbers {
	grid-column: 2/3;
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
	font-weight: 700;
	font-size: 30px;
	padding-bottom: 6px;
	padding-right: 4px;
	transform: scaleY(1.8);
	letter-spacing: 2px;
}

.block-button-text {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
	font-weight: 700;
	font-size: 22px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.block-button-base {
	grid-column: 3/4;
	width: 100%;
	height: 100%;
	cursor: pointer;
	user-select: none;
}
