body {
  margin: 0;
  font-family: 'Big Shoulders Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  max-width: 900px;
  margin: 0 auto;
}

.lcars-header {

}

.lcars-header-background {
	z-index: 1;
	width: 100%;
	height: 150px;
	position: relative;
	display: grid;
	grid-template-columns: 150px 150px auto 30px 150px auto;
	grid-template-rows: auto 73.5px 16.5px;
}

.lcars-left-column-block {
	grid-column: 1 / 1;
	grid-row: 1;
	display: flex;

}

.elbow-left-bottom-container {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.elbow-left-bottom {
	position: absolute;
	width: 300px;
	height: 90px;
}

.lcars-header-body {
	z-index: 2;
	border: 1px solid green;
	right: -20%;
	top: -150px;
	width: 80%;
	height: 125px;
	position: relative;
	border: 1px solid green;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.lcars-header-body-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	border: 1px solid blue;
	width: 320px;
	gap: 5px;
}

.lcars-pill-button {
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	height: 40px;
	width: 150px;
}

.lcars-pill-button-text {
	z-index: 2;
	position: absolute;
}